# /etc/systemd/system/ss-kcp-server@8400.service
#  This file is example of Container of SS-KCP-SERVER.

[Unit]
Description=Container of SS2-KCP-SERVER
After=docker.service

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker rm -f ss-kcp%i
# ExecStartPre=/usr/bin/docker pull chenhw2/ss-kcp-server
ExecStart=/usr/bin/docker run --rm --name ss-kcp-%i -e 'SS=ss://AEAD_AES_128_GCM:12345678' -p %i:8488/tcp -p %i:8488/udp -p 1%i:18488/udp chenhw2/ss-kcp-server
ExecStop=-/usr/bin/docker kill ss-kcp-%i

[Install]
WantedBy=multi-user.target
